<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>{{title}}</title>

</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This sice was created by Mikhail. Is uses data from mapbox.com and darksky.com</p>
        <p><img src="img/user.png" alt="" class="portriet"></p>
    </div>



    {{>footer}}
<script src="js/app.js"></script>
</body>
</html>